* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
#app{
    position: relative;
    min-height: 170vh;
    display: flex;
    flex-direction: column;
    isolation: isolate
}

.navbar {
    background-color: rgba(217, 217, 217, 0.5);
    padding: 10px;
    position: absolute;
    top: 0;
    transform: translateY(-20%);
    width: 100%;
    z-index: 1000; 
    display: none;
}
.modal-backdrop.show{
opacity: 0;
}
.modal-content {
    position: fixed; 
    z-index: 1050; 
    top: 250%;  
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar-dark{
    background: transparent;
    border: none;
}
.modal-body {
    overflow-y: auto;
    padding-bottom: 50px; 
}

.navbar-toggler-icon{
    width: 40px;
    height: 40px;
    border: none !important;
}

.nav-link {
    color: #333;
    font-size: 24px ;
    padding: 20px;
    font-family: "Architects Daughter", cursive
}

.nav-link:hover {
    color: #e06a45 !important
}
.navbar-nav{
    z-index: 1060;
}

.virtual-studio{
    color: #000;
    font-size: 24px;
    background-color: #c53;
    border-radius: 9999px;
    padding: 10px 20px;
    transition: .3s;
    font-family:"Architects Daughter", cursive
}
.virtual-studio {
    color: blue;
    background-color: #e06a45;
    text-decoration: none;
}

.carousel-inner {
    position: relative;
}

.logo-head {
    display: flex;
    justify-content: flex-end;
    padding: 100px 40px;
    position: absolute;
    top: 0; 
    right: 10px;
    z-index: 10; 
}

.logo {
    max-width: 150px;
    top: 50%;
    transform: translateY(-30%);
}

.mobile {
    display: none
}

.caption{
    position: absolute
}
.carousel-control-next:hover .arrow-icon,
.carousel-control-prev:hover .arrow-icon,
.social-icons .social-icon:hover {
    transform: scale(1.1)
}
#carouselExampleControls {
    position: relative;
    width: 100%
}

.carousel-item img {
    width: 100%;
    height: 170vh;
    object-fit: cover;
    background-repeat: no-repeat !important
}

.caption {
    bottom: 10%;
    transform: translatey(-60%);
    padding: 20px 100px;
    color: #ffffff;
}

.caption-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px
}

.caption-subtitle {
    font-size: 2.5rem
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 30%;
    width: auto;
    height: auto;
    transform: translateY(-50%);
    background: 0 0;
    border: none;
    opacity: 1;
    padding: 20px 80px
}

.arrow-icon {
    width: 5rem;
    transition: transform .3s
}


.footer {
    background-color: rgba(217, 217, 217, 0.5);
    padding: 20px 40px 20px 80px;
    color: #333;
    margin-top: -18rem;
    position: absolute;
    width: 100%;
}

.foot1 {
    text-align: center;
    margin-bottom: 15px;
}

.pict {
    height: 150px;  
}

.menu-links {
    justify-content: center;
    gap: 15px;
    margin-top: -100px;
}

.menu-links .menu-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 30px;
    font-family: "Architects Daughter", cursive
}

.menu-links .menu-link:hover {
    color: #c53;
}

.virtual-studio2 {
    font-weight: bold;
    color: #000;
    font-size: 30px;
    background-color: #c53;
    border-radius: 9999px;
    padding: 10px 20px;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    transition: color 0.3s;
}

.virtual-studio2:hover {
    color: blue;
    background-color: #e06a45;
    text-decoration: none;

}

.foot2 {
    margin-top: 80px;
}

.social-icons {
    justify-content: center;
    gap: 10px;
}

.social-icons li {
    list-style: none;
}

.social-icons a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icon {
    width: 4rem;
}

.footer-text {
    color: #333;
    font-size: 22px;
    margin-top: 10px;
    font-family: "Architects Daughter", cursive
}


@media (max-width: 1000px) {
    .pict{
        display: none !important;
    }
    .caption-title{
        font-size: 3.6rem;
    }
    .footer {    
        margin-top: -16.7rem;
        padding: 20px 20px 20px 60px;
    }
    .menu-links {
        gap: 20px;
        margin-top: 0px;
    }
    social-icon {
        width: 2rem !important;
        gap: 0px !important;
    }
    .caption{
        transform: translateY(-40%);
    }
    .footer-text{
        font-size: 18px;
    }
} 
@media(max-width:835px){
    .footer {    
        margin-top: -16rem !important;
        padding: 20px 20px 20px 60px;
    }
    .carousel-control-next,
    .carousel-control-prev {
    top: 30%;
    transform: translateY(-50%);
}
    .caption{
        transform: translateY(-90%);
    }
    .logo{
        width: 100px;
        transform: translateY(-50%);
    }
    #app{
        min-height: 120vh;
    }
    .carousel-item img {
        height: 120vh;
    }
    .caption-subtitle{
        font-size: 1.5rem;
    }
    .caption-title{
        font-size: 2.4rem;
    }
    .footer-text{
        font-size: 16px;
    }
    .arrow-icon{
        width: 3rem;
    }
}
@media (max-width: 750px) {
    .foot1{
        display: none !important;
    }
    .foot2{
       display: block !important;
       justify-content: center !important;
       margin-top: 0px;
    }
    .navbar{
        display: flex;
    }
    #app{
        min-height: 96vh;
    }
    .carousel-item img {
        height: 96vh;
        object-fit: cover;
    }
    
    .logo-head{
        display: none;
    }
    .footer{
        justify-content: center !important;
        margin-top: -11rem !important;

    }
    .caption-title{
        font-size: 2rem;
    }
    .caption-subtitle{
        font-size: 1.2rem;
    }
    .caption{
        transform: translateY(-50%);
        padding: 20px 60px;
    }
    .carousel-control-next,
    .carousel-control-prev {
    transform: translateY(-60%);
    padding: 20px 40px;
}
}
@media screen and (max-width: 600px) {
    .image{
        display: none;
    }
    .arrow-icon{
        width: 2rem;
    }
    .mobile{
        display: block;
    }
    #app{
        min-height: 100vh;
    }
    .carousel-item img {
        height: 100vh;
        object-fit: cover;
    }
    .footer{
        justify-content: center !important;
        margin-top: -12rem !important;

    }
}
