* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 25px 45px 25px 25px;
}

.main {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    margin-top: -60px;
    max-width: 200px;
} 

.logo h3 {
    margin-top: -30px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

h5 {
    font-size: 1.1rem;
}

.tools-btn {
    background: #FF4500;
    border: 3px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.m {
    height: 150px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    border: 2px solid;
    color: #FF4500;
}

p a {
    color: #337ab7;
}
p a:hover {
    color: #23527c;
    text-decoration: underline;
}
